* {
    margin: 0; outline: 0; padding: 0; border: 0;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
}

.search-bar {
    width: 50px;
    position: relative;
  display: flex;
  align-items: center;
  height: 50px;
      border: 1px solid #ccc;
  border-radius: 4px;
  transition: .7s ease;
}

.search-input {
  width: 100%;
  border: none;
  padding: 0px 8px;
  font-size: 16px;
  outline: none;
  transition: .7s ease;
}

.search-bar.show {
    width: 250px;
}

.search-btn {
    position: absolute;
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 1.4rem;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  top: 0; 
  right: 0;
  width: 50px;
  height: 100%;
  transition: .7s ease;
}

.search-btn:hover {
  background-color: #0069d9;
}

.search-btn:focus {
  outline: none;
}

